.item-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px; 
  justify-items: center; 
  align-items: center; 
}
  
  .item-card {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .item-description {
    margin-bottom: 10px;
  }
  
  .item-price {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  