.item-list-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .item-card {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .item-description {
    margin-bottom: 10px;
  }
  
  .item-price {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  